<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nutrition</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/fullcalendarcss")
    @Styles.Render("~/Content/customcss")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="fon">
    <header class="top-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social">
                            <a href="http://www.facebook.com" target="_blank">
                                <img src="~/Images/Facebook.png" alt="facebook" class="img-circule" />
                            </a>
                            <a href="http://www.instagram.com" target="_blank">
                                <img src="~/Images/instagram.png" alt="facebook" class="img-circule" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr class="line-top" noshade="noshade" />
                    <nav class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Food", "Food", "Home")</li>
                            <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                            <li>@Html.ActionLink("Suggestions", "Suggestions", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                    <hr class="line-top line-bottom" noshade="noshade" />
                </div>
            </div>
        </div>
     </header>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="p-footer">
                    <hr class="line-footer" noshade="noshade" />
                    <p class="contact text-center">Contacte:</p>
                    <div class="contacts">
                        <p>Telefon: 068906090</p>
                        <p>Facebook: <span class="btn btn-link" runat="server" target="_blank"> https://www.facebook.com/healthy_nutrition </span></p>
                        <p>E-mail: healthy_nutrition@gmail.com</p>

                    </div>
                </div>
                <p>&copy; @DateTime.Now.Year - Nutrition</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/fullcalendarjs")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
