@model NutritionApp.Models.ConsumptionModel

<div class="box-body">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">KCal</th>              
            </tr>
        </thead>
        <tbody>

            @foreach (var consumption in Model.ConsumtionList)
            {
                <tr>

                    <td>@consumption.Date</td>
                    <td>@consumption.Food.Name</td>
                    <td>@consumption.Quantity</td>
                    <td>@consumption.Food.KCal </td>
                   
                </tr>


            }

            <tr>

                <tr>
                    <td> <b>Rest KCal:</b></td>
                    <td></td>
                    <td></td>
                    <td> <b>@Model.KCal</b></td>
                    
                   
                </tr>

               

            </tr>

            </tbody>
        </table>

    

    </div>
